p {
    margin: 0;
}

#id {
    flex: 1;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    width: 350px;
    height: 450px;
    border: 3px solid gray;
    display: flex;
    flex-direction: column;
}

.display {
    border: 2px solid black;
    background-color: black;
    color: white;
    padding: 10px;
    font-size: 36px;
    flex: 1;
    display: flex;
    justify-content: right;
    align-items: center;
}

.container0 {
    display: flex;
    flex-direction: column;
    flex: 5;
}

.container1 {
    display: flex;
    flex: 5;
}

.operator {
    display: flex;
    flex-direction: column;
    flex: 1;
}

button {
    flex: 1;
}

.container2 {
    display: flex;
    flex-wrap: wrap;
    flex: 4;
}

.number {
    width: 33%;
    flex: auto;
}