p {
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vb;
    background-color: #80ced6;
}

.calculator {
    width: 380px;
    height: 480px;
    border: 10px solid midnightblue;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.display {
    background-color: black;
    color: white;
    padding: 10px;
    font-size: 36px;
    flex: 1;
    display: flex;
    justify-content: right;
    align-items: center;
}

.container0 {
    display: flex;
    flex-direction: column;
    flex: 5;
}

.container1 {
    display: flex;
    flex: 1;
}

.container2 {
    display: flex;
    flex: 5;
}

button {
    flex: 1;
}

.container3 {
    display: flex;
    flex-wrap: wrap;
    flex: 3;
}

.number, .equals, .decimal {
    width: 33%;
    flex: auto;
}

.decimal {
    font-weight: bold;
}

.operator {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: stretch;
    background-color: #333399;
}

.number, .decimal, .operator, .equals, #clear, #backspace {
    color: white;
    font-size: 24px;
}

.number, .decimal {
    background-color: #3366CC;
}

#clear, #backspace, .equals {
    background-color: #3399FF;
}